
.horizontal-list{
    display:block;
    position:relative;
    float:left;
    border-bottom: $border-value;
    border-left: $border-value;
    padding: 10px 0;
    &.video-span-1{
        width:186px;
    }
    &.video-span-2{
        width:373px;
    }
    &.video-span-3{
        width: 559px;
    }
    h2{
        font-size:20px;
        padding:0 10px;
        margin:0;
    }
    .video-block{
        display:block;
        float:left;
        width:166px;
        padding: 0 10px;
    }
    &:after{
        content: ' ';
        display:block;
        clear:both;
        position:relative;
    }
    .video-thumbnail-small img:hover {
        border-bottom: none;
    }
}
@media only screen and (min-width: $step-width-2){
    .horizontal-list{
        .video-block{
            .video-thumbnail-small{
                float: none;
                img{
                    width:100%;
                    height:auto;
                }
            }   
        }
    }
}
@media only screen and (max-width: $step-width-2 - 1px) {
    .horizontal-list{
        .video-block{
            width:100%;
        }
    }
}