
.horizontal-list{
    display:block;
    clear:both;
    position:relative;
    border-bottom: $border-value;
    h2{
        font-size:20px;
        padding:0 10px;
        margin:0;
    }
    .video-block{
        display:block;
        float:left;
        width:30.7%;
    }
    &:after{
        content: ' ';
        display:block;
        clear:both;
        position:relative;
    }
    .video-thumbnail-small img:hover {
        border-bottom: none;
    }
}
@media only screen and (min-width: $step-width-2){
    .horizontal-list{
        .video-block{
            .video-thumbnail-small{
                float: none;
                img{
                    width:100%;
                    height:auto;
                }
            }   
        }
    }
}
@media only screen and (max-width: $step-width-2 - 1px) {
    .horizontal-list{
        .video-block{
            width:100%;
        }
    }
}