
.horizontal-list{
    display:block;
    clear:both;
    position:relative;
    h2{
        font-size:20px;
        padding:0 10px;
        margin:0;
    }
    .video-block{
        display:block;
        float:left;
        width:31.5%;
    }
    &:after{
        content: ' ';
        display:block;
        clear:both;
        position:relative;
    }
    .video-thumbnail-small img:hover {
        border-bottom: none;
    }
}
@media only screen and (min-width: 768px){
    .horizontal-list{
        .video-block{
            .video-thumbnail-small{
                float: none;
                img{
                    width:100%;
                    height:auto;
                }
            }   
        }
    }
}
@media only screen and (max-width: 767px) {
    #home-popular{
        .video-block{
            width:100%;
        }
    }
}