$step-width-1:960px;
$step-width-2:768px;
$home-horizon-960 : 560px;
$home-horizon-770 : 460px;
$border-value: #cccccc solid 1px;
.clear-both{display:block;clear: both;}
@import "home-group";
@import "home-horizontal";
@import "home-vertical";
@import "video-detail";