/* line 6, ../sass/home.scss */
.clear-both { display: block; clear: both; }

/* line 1, ../sass/_home-group.scss */
.video-group { border-top: #cccccc solid 1px; }
/* line 3, ../sass/_home-group.scss */
.video-group .group-horizontal, .video-group .group-vertical { display: block; float: left; margin: 0; padding: 0; }
/* line 9, ../sass/_home-group.scss */
.video-group .group-horizontal { width: 559px; border-right: #cccccc solid 1px; }
/* line 13, ../sass/_home-group.scss */
.video-group .group-vertical { width: 400px; }
/* line 16, ../sass/_home-group.scss */
.video-group:after { content: ' '; display: block; clear: both; }

@media only screen and (min-width: 768px) and (max-width: 959px) { /* line 24, ../sass/_home-group.scss */
  .video-group .group-horizontal { width: 460px; }
  /* line 27, ../sass/_home-group.scss */
  .video-group .group-vertical { width: 310px; } }
@media only screen and (max-width: 767px) { /* line 34, ../sass/_home-group.scss */
  .video-group .group-horizontal { width: 100%; border-right: none; }
  /* line 38, ../sass/_home-group.scss */
  .video-group .group-vertical { width: 100%; } }
/* line 2, ../sass/_home-horizontal.scss */
.horizontal-list { display: block; position: relative; float: left; border-bottom: #cccccc solid 1px; border-left: #cccccc solid 1px; padding: 10px 0; }
/* line 9, ../sass/_home-horizontal.scss */
.horizontal-list.video-span-1 { width: 186px; }
/* line 12, ../sass/_home-horizontal.scss */
.horizontal-list.video-span-2 { width: 373px; }
/* line 15, ../sass/_home-horizontal.scss */
.horizontal-list.video-span-3 { width: 559px; }
/* line 18, ../sass/_home-horizontal.scss */
.horizontal-list h2 { font-size: 20px; padding: 0 10px; margin: 0; }
/* line 23, ../sass/_home-horizontal.scss */
.horizontal-list .video-block { display: block; float: left; width: 166px; padding: 0 10px; }
/* line 29, ../sass/_home-horizontal.scss */
.horizontal-list:after { content: ' '; display: block; clear: both; position: relative; }
/* line 35, ../sass/_home-horizontal.scss */
.horizontal-list .video-thumbnail-small img:hover { border-bottom: none; }

@media only screen and (min-width: 768px) { /* line 41, ../sass/_home-horizontal.scss */
  .horizontal-list.video-span-1 { width: 152px; }
  /* line 44, ../sass/_home-horizontal.scss */
  .horizontal-list.video-span-2 { width: 306px; }
  /* line 47, ../sass/_home-horizontal.scss */
  .horizontal-list.video-span-3 { width: 459px; }
  /* line 50, ../sass/_home-horizontal.scss */
  .horizontal-list .video-block { width: 132px; }
  /* line 52, ../sass/_home-horizontal.scss */
  .horizontal-list .video-block .video-thumbnail-small { float: none; }
  /* line 54, ../sass/_home-horizontal.scss */
  .horizontal-list .video-block .video-thumbnail-small img { width: 100%; height: auto; } }
@media only screen and (max-width: 767px) { /* line 64, ../sass/_home-horizontal.scss */
  .horizontal-list.video-span-1, .horizontal-list.video-span-2, .horizontal-list.video-span-3 { width: 100%; }
  /* line 67, ../sass/_home-horizontal.scss */
  .horizontal-list .video-block { width: 100%; } }
