/* line 6, ../sass/sass.scss */
.clear-both { display: block; clear: both; }

/* line 1, /Applications/MAMP/htdocs/thsea/public/sass/_home-group.scss */
.video-group { border-top: #cccccc solid 1px; }
/* line 3, /Applications/MAMP/htdocs/thsea/public/sass/_home-group.scss */
.video-group .group-horizontal, .video-group .group-vertical { display: block; float: left; margin: 0; padding: 0; margin-left: -1px; }
/* line 10, /Applications/MAMP/htdocs/thsea/public/sass/_home-group.scss */
.video-group .group-horizontal { width: 559px; border-right: #cccccc solid 1px; }
/* line 14, /Applications/MAMP/htdocs/thsea/public/sass/_home-group.scss */
.video-group .group-vertical { width: 400px; }
/* line 17, /Applications/MAMP/htdocs/thsea/public/sass/_home-group.scss */
.video-group .viewmore { display: block; clear: both; float: right; margin-right: 10px; font-size: 16px; color: #468aca; }
/* line 25, /Applications/MAMP/htdocs/thsea/public/sass/_home-group.scss */
.video-group:after { content: ' '; display: block; clear: both; }

@media only screen and (min-width: 768px) and (max-width: 959px) { /* line 33, /Applications/MAMP/htdocs/thsea/public/sass/_home-group.scss */
  .video-group .group-horizontal { width: 460px; }
  /* line 36, /Applications/MAMP/htdocs/thsea/public/sass/_home-group.scss */
  .video-group .group-vertical { width: 307px; } }
@media only screen and (max-width: 767px) { /* line 43, /Applications/MAMP/htdocs/thsea/public/sass/_home-group.scss */
  .video-group .group-horizontal { width: 100%; border-right: none; }
  /* line 47, /Applications/MAMP/htdocs/thsea/public/sass/_home-group.scss */
  .video-group .group-vertical { width: 100%; } }
/* line 1, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
.horizontal-list { display: block; position: relative; float: left; border-bottom: #cccccc solid 1px; border-left: #cccccc solid 1px; padding: 10px 0; }
/* line 8, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
.horizontal-list.video-span-1 { width: 185px; }
/* line 11, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
.horizontal-list.video-span-2 { width: 372px; }
/* line 14, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
.horizontal-list.video-span-3 { width: 559px; }
/* line 17, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
.horizontal-list h2 { font-size: 20px; padding: 0 10px; margin: 0; }
/* line 22, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
.horizontal-list .video-block { display: block; float: left; width: 165px; padding: 0 10px; }
/* line 27, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
.horizontal-list .video-block span { font-size: 0.8em; }
/* line 30, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
.horizontal-list .video-block:after { content: ' '; display: block; clear: both; position: relative; }
/* line 37, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
.horizontal-list:after { content: ' '; display: block; clear: both; position: relative; }
/* line 43, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
.horizontal-list .video-thumbnail-small img:hover { border-bottom: none; }

@media only screen and (min-width: 768px) { /* line 49, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
  .horizontal-list .video-block { min-height: 210px; overflow: hidden; }
  /* line 52, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
  .horizontal-list .video-block .video-thumbnail-small { float: none; }
  /* line 54, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
  .horizontal-list .video-block .video-thumbnail-small img { width: 100%; height: auto; } }
@media only screen and (min-width: 768px) and (max-width: 959px) { /* line 64, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
  .horizontal-list.video-span-1 { width: 152px; }
  /* line 67, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
  .horizontal-list.video-span-2 { width: 305px; }
  /* line 70, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
  .horizontal-list.video-span-3 { width: 459px; }
  /* line 73, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
  .horizontal-list .video-block { width: 132px; } }
@media only screen and (max-width: 767px) { /* line 80, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
  .horizontal-list.video-span-1, .horizontal-list.video-span-2, .horizontal-list.video-span-3 { width: 100%; }
  /* line 83, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
  .horizontal-list .video-block { width: 100%; }
  /* line 85, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
  .horizontal-list .video-block .video-text { float: left; } }
@media only screen and (min-width: 478) and (max-width: 767px) { /* line 94, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
  .horizontal-list .video-block .video-text { max-width: 285px; } }
@media only screen and (max-width: 477) { /* line 103, /Applications/MAMP/htdocs/thsea/public/sass/_home-horizontal.scss */
  .horizontal-list .video-block .video-text { max-width: 165px; } }
/* line 1, /Applications/MAMP/htdocs/thsea/public/sass/_home-vertical.scss */
.vertical-list { padding-bottom: 8px; }
/* line 3, /Applications/MAMP/htdocs/thsea/public/sass/_home-vertical.scss */
.vertical-list h2 { font-size: 20px; padding: 0 10px; margin: 0; line-height: 40px; vertical-align: middle; }
/* line 10, /Applications/MAMP/htdocs/thsea/public/sass/_home-vertical.scss */
.vertical-list .video-thumbnail-smaller { float: left; position: relative; }
/* line 13, /Applications/MAMP/htdocs/thsea/public/sass/_home-vertical.scss */
.vertical-list .video-thumbnail-smaller img { padding-right: 5px; max-width: 70px; }
/* line 19, /Applications/MAMP/htdocs/thsea/public/sass/_home-vertical.scss */
.vertical-list .video-block span { font-size: 0.8em; }

@media only screen and (max-width: 767px) { /* line 27, /Applications/MAMP/htdocs/thsea/public/sass/_home-vertical.scss */
  .vertical-list .video-thumbnail-smaller img { max-width: 120px; } }
/*  Created on : Mar 18, 2014, 10:44:11 PM Author     : gong
*/
/* line 5, /Applications/MAMP/htdocs/thsea/public/sass/_video-detail.scss */
#video-detail { padding-top: 10px; }
/* line 7, /Applications/MAMP/htdocs/thsea/public/sass/_video-detail.scss */
#video-detail .image-post, #video-detail .comment { display: block; float: left; }
/* line 11, /Applications/MAMP/htdocs/thsea/public/sass/_video-detail.scss */
#video-detail .image-post { width: 600px; margin-right: 10px; }
/* line 15, /Applications/MAMP/htdocs/thsea/public/sass/_video-detail.scss */
#video-detail .comment { width: 320px; }

@media only screen and (min-width: 768px) and (max-width: 959px) { /* line 21, /Applications/MAMP/htdocs/thsea/public/sass/_video-detail.scss */
  #video-detail .image-post { width: 405px; margin-right: 10px; } }
@media only screen and (max-width: 767px) { /* line 29, /Applications/MAMP/htdocs/thsea/public/sass/_video-detail.scss */
  #video-detail .image-post { width: auto; float: none; }
  /* line 33, /Applications/MAMP/htdocs/thsea/public/sass/_video-detail.scss */
  #video-detail .comment { max-width: 320px; width: 100%; float: none; margin: auto; } }
