<!DOCTYPE html>
<!-- A Color Theme design by ZERGE (http://www.color-theme.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Photomin - Responsive HTML Template</title>
	<meta name="author" content="ZERGE">
	<meta name="keywords" content="responsive html template, portfolio, creative, clean, minimal, white">
	<meta name="description" content="Responsive HTML Template - Blog Post Video">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS -->
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<link rel="stylesheet" type="text/css" href="css/base.css" />
	<link rel="stylesheet" type="text/css" href="css/skeleton.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/mediaelementplayer.min.css" />
	<link rel="stylesheet" type="text/css" href="css/colorbox.css" />
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.css" />

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	<!-- JS -->

</head>
<body>



<!-- Primary Page Layout -->

	<!-- START TOP PANEL -->
	<div id="top-panel">
		<div class="container panel">
			<div class="four columns location-map">
				<h6>About</h6>
				<div class="gray-dash-3px"></div>
				<p>Photomin is an American multinational compane that designs and markets consumer electronics, computer software, and personal computers.</p>
			</div><!-- .four -->		
			<div class="four columns">
				<h6>Contact Info</h6>
				<div class="gray-dash-3px"></div>
				<ul id="contact-info" class="widget clearfix">
					<li class="location">12345 / Some Street<br>Portland, USA</li>
					<li class="phone">phone: +1 (44)  123-45-67<br/>fax: +1 (44)  123-45-63</li>
					<li class="skype"><a href="skype:echo123?call">Skype Me</a></li>
					<li class="email"><a href="mailto:support@color-theme.com">support@color-theme.com</a></li>
				</ul>
			</div><!-- .four -->
			<div class="eight columns">
				<h6>Get In Touch</h6>
				<div class="gray-dash-3px"></div>
	        <fieldset class="info_fieldset_top">
	            <div id="note-top"></div>
	            <div id="contacts-form">
		            <form id="ajax-contact-form" action="javascript:alert('Was send!');">
		            	<input type="text" name="name" required placeholder="Your Name" class="required" />
		                <input type="email" name="email" required  placeholder="Your Email" class="last-item required" />
		             	<input type="text" name="url" placeholder="http://" style="display:none;" />
		                <input type="text" name="subject" placeholder="Subject" class="last-item required" style="display:none;" />	                
		                <div class="clear"></div>
		                <textarea name="message" id="message" required placeholder="Type your questions here..."></textarea>
		                <input type="submit" class="submit no-margin-bottom"  value="Send Message"/>
		                <span></span>
		            </form>
					<div class="clear"></div>
				</div> <!-- end #contact-form -->
			</fieldset>
			</div><!-- .eight -->
		</div><!-- .container -->
		<div class="toggle colored-bg">
			<a href="#" title="Click to show panel"></a>
		</div><!-- .toggle -->
	</div><!-- #top-panel -->
	<!-- END TOP PANEL -->


	<!-- START MENU WRAPPER -->
	<div id="menu-wrapper">
		<div class="container">
			<div class="four columns">
				<div id="logo">
					<a href="./"><img src="images/logo.png" alt="Logo" /></a>
				</div><!-- .logo -->
			</div><!-- four columns -->
			<div class="twelve columns navigation">
				<div id="menu" class="fix-fish-menu">
					<ul id="nav" class="sf-menu">
						<li><a href="index.html">Home</a></li>
		                <li class="active"><a href="blog.html">Blog</a>
			   				<ul>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="blog-post.html">Blog Post</a></li>
								<li><a href="blog-post-video.html">Blog Post + Video</a></li>
							</ul>
			            </li>
				 		<li> <a href="#">Portfolio</a>
							<ul>
								<li><a href="portfolio-3.html">3 Columns</a></li>
								<li><a href="portfolio-4.html">4 Columns</a></li>
								<li><a href="gallery.html">Gallery</a></li>
								<li><a href="item.html">Portfolio Item</a></li>
								<li><a href="item-slideshow.html">Portfolio Item + Slideshow</a></li>
								<li><a href="item-video.html">Portfolio Item + Video</a></li>
							</ul>
					    </li>
				 		<li> <a href="typography.html">Typography</a></li>
				 		<li> <a href="shortcodes.html">Shortcodes</a></li>
					 	<li> <a href="#">Pages</a>
							<ul>
								<li><a href="left-content.html">Left + Content</a></li>
								<li><a href="content-right.html">Content + Right</a></li>
								<li><a href="full-width.html">Full Width Page</a></li>
								<li><a href="#">Submenu</a>
								<ul>
									<li><a href="#">Item #1</a></li>
									<li><a href="#">Item #2</a></li>
								</ul>
								</li>
							</ul>
						</li>
		 				<li><a href="contacts.html">Contacts</a></li>
		 				<li><a href="http://themeforest.net/item/photomin-responsive-html-template/2430382?ref=zerge"><i class="icon-purchase"></i>Purchase</a></li>
				 	</ul>  <!-- end #nav  -->
			 	</div>	<!-- end #menu  -->	
			</div><!-- .twelve columns -->
		</div><!-- .container -->
	</div><!-- #slider-wraper -->
	<!-- END MENU WRAPPER -->


	<!-- START SEPARATOR  -->
	<div id="separator">
		<div class="btop-1px"></div>
		<div class="container">
			<!-- start separator -->
			<div class="sixteen columns">
				<h4 class="page-title">The Blog Post</h4>
			</div><!-- sixteen columns -->
		</div><!-- .container -->
		<div class="bbottom-1px"></div>
	</div><!-- #separator -->
	<!-- END SEPARATOR -->	



	<!-- START BLOG WRAPPER -->
	<div class="container main-wrapper">
		<div id="main-content" class="twelve columns">


			<!-- POST #3 VIDEO -->
			<div class="entry-post single-post format-video">
				<div class="info-post">
					<div class="ribbon-wrapper">
						<div class="ribbon-front">
							<a href="blog-post.html" title="Video Post Type"><span class="blog-post-format"></span></a>
						</div>
						<div class="ribbon-edge-bottomleft"></div>
					</div><!-- ribbon-wrapper -->
			    </div><!-- info-post -->

				<div class="stack">
					<div class="meta-post">
						<div class="date" title="Posted Date"><span>May 19, 2012</span></div>
						<div class="comments" title="Comments"><span><a href="#">4</a></span></div>
						<div class="author" title="Author"><span><a href="#">Slimbet</a></span></div>
						<div class="tweets" title="Tweet this"><span><a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20Video&amp;url=http://html.color-theme.com/photomin/blog.html&amp;via=zesky">Tweet</a></span></div>
					</div><!-- meta-post -->
				</div><!-- stack -->
				<div class="image-post">
				   	<iframe src="http://player.vimeo.com/video/40255993?title=0&amp;byline=0&amp;portrait=0&amp;color=ff7e00" ></iframe>
				</div><!-- post-image -->
				<div class="text-post clearfix">
						<div class="title-post">
						<h6><a href="blog-post.html">In Particles (Video)</a></h6>	
						</div>
				   	<p>Adobe After Effects project file. You can buy it from here: <a href="http://videohive.net/item/in-particles/2092596?ref=zerge">videohive.net/item/in-particles/2092596</a></p>
					<div class="container">
						<div class="five columns">
							<ul class="square">
								<li>Mauris vel lacus vitae</li>
								<li>Nunc tempus felis vitae urna</li>
								<li>Etiam est nunc</li>
								<li>Phasellus felis dolor</li>
								<li>Maecenas aliquet velit vel turpis</li>
							</ul>
						</div>
						<div class="six columns">
							<ul class="disc">
								<li>Mauris vel lacus vitae</li>
								<li>Nunc tempus felis vitae urna</li>
								<li>Etiam est nunc</li>
								<li>Phasellus felis dolor</li>
								<li>Maecenas aliquet velit vel turpis</li>
							</ul>
						</div>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac, sollicitudin in, consequat vitae, orci. Fusce id felis. Vivamus sollicitudin metus eget eros.</p>
				</div><!-- text-post -->				

				<div class="tag-meta-post">
					<div class="tags" title="Tags"><span><a href="#">Business</a>, <a href="#">Video</a>, <a href="#">Prject</a>, <a href="#">Papers</a>, <a href="#">Education</a></span></div>
					<div class="share-post">
						<!-- AddThis Button BEGIN -->
<!--						<div class="addthis_toolbox addthis_default_style ">
							<a href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=ra-4d8f199d3537a1b7" class="addthis_button_compact">Share</a>
						</div>
						<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
						<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d8f199d3537a1b7"></script> -->
						<!-- AddThis Button END -->
					</div><!-- share-post -->
				</div><!-- tag-meta-post -->
			</div><!-- entry-post -->


			<!-- COMMENTS BLOCK -->
			<div id="comments-block">
				<div class="comments-title">
					<h6>4 Comments</h6>
					<div class="gray-dash-3px"></div>
				</div>
					
					<!-- FIRST LEVEL COMMENT-->
					<div class="comment-block">
						<div class="gravatar">
							<a href="#"><img src="images/blog/avatars/admin-gravatar.jpg" alt="" title="ZERGE" class="transition-effect"></a>
				        </div><!-- .gravatar -->
						<div class="comment-text clearfix">
							<span class="comment-info">
								<span class="italic" title="January 5, 2011 at 4:43 PM">2 days ago</span>
								<span class="italic">by ZERGE</span>
							</span>
							<p class="comment">
				        		Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. 
				                Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
				        	</p>
						</div><!-- end comment-text -->
					</div><!-- end comment-block -->						

					<!-- SECOND LEVEL COMMENT-->
					<div class="comment-block">
						<div class="gravatar">
							<a href="#"><img src="images/blog/avatars/orangeidea.jpg" alt="" title="Orangeidea" class="transition-effect"></a>
				        </div><!-- .gravatar -->
						<div class="comment-text clearfix">
							<span class="comment-info" title="January 6, 2011 at 9:14 PM">
								<span class="italic">1 days ago</span>
								<span class="italic">by Orangeidea</span>
							</span>
							<p class="comment">
								Love the look of this template, going to purchase it now!
				        	</p>
						</div><!-- end comment-text -->
					</div><!-- .replay-block -->

					<!-- SECOND LEVEL COMMENT-->
					<div class="comment-block">
						<div class="gravatar">
							<a href="#"><img src="images/blog/avatars/rockgirl.jpg" alt="" title="RockGirl" class="transition-effect"></a>
				        </div><!-- .gravatar -->
						<div class="comment-text clearfix">
							<span class="comment-info" title="January 6, 2011 at 9:14 PM">
								<span class="italic">1 days ago</span>
								<span class="italic">by RockGirl</span>
							</span>
							<p class="comment">
								Hey, wow i like that theme, very excellent work, looks fantastic. Really delicate. Good job, wish you a lot of clients!
							</p>
						</div><!-- end comment-text -->
					</div><!-- .replay-block -->

					<!-- FIRST LEVEL COMMENT-->
					<div class="comment-block">
						<div class="gravatar">
							<a href="#"><img src="images/blog/avatars/intern.jpg" alt="" title="Intern" class="transition-effect"></a>
				        </div><!-- .gravatar -->
						<div class="comment-text clearfix">
							<span class="comment-info">
								<span class="italic" title="January 5, 2011 at 4:43 PM">30 minutes ago</span>
								<span class="italic">by Intern</span>
							</span>
							<p class="comment">
				        		Three simple words from a non-web geek: This theme rocks!!!
								I would highly recommend this theme to anybody that wants to build a powerful but yet flexible website!
								In addition, the customer service is truly provides top notch!!!lacinia odio sem nec elit.
				        	</p>
						</div><!-- end comment-text -->
					</div><!-- end comment-block -->
					
			</div><!-- .comments-block -->
			<!-- END COMMENTS BLOCK -->	

			<!-- COMMENTS FORM -->
			<div id="comments-form">
				<div class="comments-title">
					<h6>Post Your Comment</h6>
					<div class="gray-dash-3px"></div>
				</div>
				<form id="form-post-comment" action="javascript:alert('It Works!');">
					<input type="text" placeholder="Name">
					<input type="text" placeholder="Email" class="last-item">
					<textarea id="comment-message" placeholder="Post your comment here!"></textarea>
					<input type="submit" value="Submit Comment" class="submit">
					<span></span>
				</form>
			</div><!-- #comments-form -->
			<!-- END COMMENTS FORM -->
		</div><!-- main-content -->


	
		<!-- START SIDEBAR -->
		<div id="sidebar" class="four columns">
			<div class="widget">
				<form method="get" id="searchform" action="http://html.color-theme.com/linkup">
					<fieldset>
						<input type="text" name="s" id="s" value="To search type and hit enter" onFocus="if(this.value=='To search type and hit enter')this.value='';" onBlur="if(this.value=='')this.value='To search type and hit enter';">
					</fieldset>
				</form>
			</div><!-- widget -->

			<div class="widget">
				<h6>About</h6>
				<div class="gray-dash-3px"></div>
				<p>Welcome to PhotoDune! Read our Getting Started Guide, visit the Blog for recent news and make yourself at home! You can find information about PhotoDune in our Knowledgebase.</p>
			</div><!-- widget -->

			<div class="widget">
				<h6>Recent Posts</h6>
				<div class="gray-dash-3px"></div>				
				<ul class="arrow">
					<li><a href="#" title="Post With Gallery">Post With Gallery</a></li>
					<li><a href="#" title="Quote Post">Quote Post</a></li>
					<li><a href="#" title="Audio Post">Audio Post</a></li>
					<li><a href="#" title="Post With Link">Post With Link</a></li>
					<li><a href="#" title="Post With Featured Image">Post With Featured Image</a></li>
				</ul>
			</div><!-- widget -->

			<div class="widget clearfix">
				<h6>Tags</h6>
				<div class="gray-dash-3px"></div>
				<ul class="tags">
					<li><a href="blog-post.html" class="button tag-button">Business</a></li>
					<li><a href="blog-post.html" class="button tag-button">Audio</a></li>
					<li><a href="blog-post.html" class="button tag-button">Chart</a></li>
					<li><a href="blog-post.html" class="button tag-button">Link</a></li>
					<li><a href="blog-post.html" class="button tag-button">Images</a></li>
					<li><a href="blog-post.html" class="button tag-button">Slideshow</a></li>
					<li><a href="blog-post.html" class="button tag-button">Photo</a></li>
					<li><a href="blog-post.html" class="button tag-button">Wordpress</a></li>
					<li><a href="blog-post.html" class="button tag-button">Icons</a></li>
					<li><a href="blog-post.html" class="button tag-button">Corporate</a></li>
					<li><a href="blog-post.html" class="button tag-button">Tuts</a></li>
				</ul>
			</div><!-- widget -->

			<div class="widget">
				<h6>Tabbed Widget</h6>
				<div class="gray-dash-3px"></div>
						<ul class="tabs">
							<li><a class="active" href="#simple">Simple</a></li>
							<li><a href="#lightweight">Lightweight</a></li>
							<li><a href="#mobileFriendly">Mobile</a></li>
						</ul>
						<ul class="tabs-content">
							<li class="active" id="simple">The tabs are clean and simple unordered-list markup and basic CSS.</li>
							<li id="lightweight">The tabs are cross-browser, but don't need a ton of hacky CSS or markup.</li>
							<li id="mobileFriendly">The tabs work like a charm even on mobile devices. If there are too many they will stack (it's not completely awesome, but still retains functionality).</li>
						</ul>
			</div><!-- widget -->

			<div class="widget">
				<h6>Accordion Widget</h6>
				<div class="gray-dash-3px"></div>
				<div id="accordion">
					<h3><a href="#">Section 1</a></h3>
					<div>
						<p>
						Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
						ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
						amet, nunc. 
					</p>
					</div>
					<h3><a href="#">Section 2</a></h3>
					<div>
						<p>
							Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
							purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
							velit, faucibus interdum tellus libero ac justo. 
						</p>
					</div>
					<h3><a href="#">Section 3</a></h3>
					<div>
						<p>
							Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
							Phasellus pellentesque purus in massa. Aenean in pede. 
						</p>
							<ul>
								<li>List item one</li>
								<li>List item two</li>
								<li>List item three</li>
							</ul>
					</div>
					<h3><a href="#">Section 4</a></h3>
					<div>
						<p>
							Cras dictum. Pellentesque habitant morbi tristique senectus et netus
							et malesuada fames ac turpis egestas. 
						</p>
					</div>
				</div><!-- #accordion -->
			</div><!-- widget -->
			
			<div class="widget">
				<h6>Twitter Feed</h6>
				<div class="gray-dash-3px"></div>
				<div id="twitter-widget">
					<div class="tweet"></div>	
				</div>
			</div><!-- widget -->

			<div class="widget">
				<h6>Flickr Photos</h6>
				<div class="gray-dash-3px"></div>
				<ul id="cbox-sidebar" class="thumbs"></ul>
			</div><!-- widget -->

		</div><!-- sidebar -->
	</div><!-- .container -->

		
	<!-- END BLOG WRAPPER -->


	
	<!-- START FOOTER -->
	<div id="footer">
		<div class="btop-1px"></div>
		<div class="container">
			<div class="four columns copyright">
				<img src="images/logo-footer.png" alt="" />
				<p class="last">@ 2012 All Rights Reserved.<br>Designed by <a href="http://themeforest.net/user/ZERGE">ZERGE</a> for <a href="http://themeforest.net">Themeforest</a>.</p>
			</div><!-- .copyright -->
			<div class="twelve columns">
				<div id="secondary-nav" class="clearfix">
					<ul class="clearfix">
						<li><a href="#">Home</a></li>
						<li><a href="#">Portfolio</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
					<div class="gray-dash-3px"></div>
				</div><!-- #secondary-nav -->
				<ul id="footer-social">
	    			<li class="twitter"><a href="http://twitter.com"></a></li>
	    			<li class="dribbble"><a href="http://dribbble.com"></a></li>
	    			<li class="facebook"><a href="http://facebook.com"></a></li>
	    			<li class="google"><a href="http://plus.google.com"></a></li>
	    			<li class="linkedin"><a href="http://linkedin.com"></a></li>
	    			<li class="behance"><a href="http://behance.net"></a></li>
	    			<li class="rss"><a href="#"></a></li>
	    		</ul><!-- footer-social -->
			</div><!-- twelve columns -->
		</div><!-- container -->
	</div><!-- #footer -->
	<!-- END FOOTER -->

<div class="resize" title="Try resizing the window!"></div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>	
<script type="text/javascript" src="js/superfish.js"></script>
<script type="text/javascript" src="js/jcarousel.min.js"></script>
<script type="text/javascript" src="js/mediaelement-and-player.min.js"></script>
<script type="text/javascript" src="js/scrolltopcontrol.js"></script>
<script type="text/javascript" src="js/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="js/jflickrfeed.min.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="js/slides.min.jquery.js"></script>
<script type="text/javascript" src="js/tabs.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.tweet.js"></script>	
<script type="text/javascript" src="js/contact.js"></script>

<script type="text/javascript" src="js/custom.js"></script>

<script>
jQuery.noConflict()(function($){
		// create player
    $('audio,video').mediaelementplayer({
        // add desired features in order
        // I've put the loop function second,
        features: ['playpause','loop','current','progress','duration','volume']
    });
});
</script>

<script type="text/javascript">
//<![CDATA[  
jQuery.noConflict()(function($){
    $(document).ready(function(){
			$('#slides-post').slides({
				generateNextPrev: true,
				generatePagination: false,
   				effect: 'fade',
   				crossfade: true,
				preload: true,
				preloadImage: 'images/loading.gif',
				pause: 2500,
				hoverPause: true
			});
		});
   });   
//]]>       		
</script>

<script>
/*******************************
			ACCORDION
********************************/
jQuery.noConflict()(function($){
	$(document).ready(function() {
		$("#accordion").accordion({ autoHeight: false });;
	});
});  
</script>


<!-- End Document
================================================== -->
</body>
</html>