<!DOCTYPE html>
<!-- A Color Theme design by ZERGE (http://www.color-theme.com) -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Photomin - Responsive HTML Template</title>
	<meta name="author" content="ZERGE">
	<meta name="keywords" content="responsive html template, portfolio, creative, clean, minimal, white">
	<meta name="description" content="Responsive HTML Template - Portfolio Video Page">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS -->
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<link rel="stylesheet" type="text/css" href="css/base.css" />
	<link rel="stylesheet" type="text/css" href="css/skeleton.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/mediaelementplayer.min.css" />
	<link rel="stylesheet" type="text/css" href="css/colorbox.css" />
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.css" />

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	<!-- JS -->

</head>
<body>



<!-- Primary Page Layout -->

	<!-- START TOP PANEL -->
	<div id="top-panel">
		<div class="container panel">
			<div class="four columns location-map">
				<h6>About</h6>
				<div class="gray-dash-3px"></div>
				<p>Photomin is an American multinational compane that designs and markets consumer electronics, computer software, and personal computers.</p>
			</div><!-- .four -->		
			<div class="four columns">
				<h6>Contact Info</h6>
				<div class="gray-dash-3px"></div>
				<ul id="contact-info" class="widget clearfix">
					<li class="location">12345 / Some Street<br>Portland, USA</li>
					<li class="phone">phone: +1 (44)  123-45-67<br/>fax: +1 (44)  123-45-63</li>
					<li class="skype"><a href="skype:echo123?call">Skype Me</a></li>
					<li class="email"><a href="mailto:support@color-theme.com">support@color-theme.com</a></li>
				</ul>
			</div><!-- .four -->
			<div class="eight columns">
				<h6>Get In Touch</h6>
				<div class="gray-dash-3px"></div>
	        <fieldset class="info_fieldset_top">
	            <div id="note-top"></div>
	            <div id="contacts-form">
		            <form id="ajax-contact-form" action="javascript:alert('Was send!');">
		            	<input type="text" name="name" required placeholder="Your Name" class="required" />
		                <input type="email" name="email" required  placeholder="Your Email" class="last-item required" />
		             	<input type="text" name="url" placeholder="http://" style="display:none;" />
		                <input type="text" name="subject" placeholder="Subject" class="last-item required" style="display:none;" />	                
		                <div class="clear"></div>
		                <textarea name="message" id="message" required placeholder="Type your questions here..."></textarea>
		                <input type="submit" class="submit no-margin-bottom"  value="Send Message"/>
		                <span></span>
		            </form>
					<div class="clear"></div>
				</div> <!-- end #contact-form -->
			</fieldset>
			</div><!-- .eight -->
		</div><!-- .container -->
		<div class="toggle colored-bg">
			<a href="#" title="Click to show panel"></a>
		</div><!-- .toggle -->
	</div><!-- #top-panel -->
	<!-- END TOP PANEL -->


	<!-- START MENU WRAPPER -->
	<div id="menu-wrapper">
		<div class="container">
			<div class="four columns">
				<div id="logo">
					<a href="./"><img src="images/logo.png" alt="Logo" /></a>
				</div><!-- .logo -->
			</div><!-- four columns -->
			<div class="twelve columns navigation">
				<div id="menu" class="fix-fish-menu">
					<ul id="nav" class="sf-menu">
						<li><a href="index.html">Home</a></li>
		                <li><a href="blog.html">Blog</a>
			   				<ul>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="blog-post.html">Blog Post</a></li>
								<li><a href="blog-post-video.html">Blog Post + Video</a></li>
							</ul>
			            </li>
				 		<li class="active"> <a href="#">Portfolio</a>
							<ul>
								<li><a href="portfolio-3.html">3 Columns</a></li>
								<li><a href="portfolio-4.html">4 Columns</a></li>
								<li><a href="gallery.html">Gallery</a></li>
								<li><a href="item.html">Portfolio Item</a></li>
								<li><a href="item-slideshow.html">Portfolio Item + Slideshow</a></li>
								<li><a href="item-video.html">Portfolio Item + Video</a></li>
							</ul>
					    </li>
				 		<li> <a href="typography.html">Typography</a></li>
				 		<li> <a href="shortcodes.html">Shortcodes</a></li>
					 	<li> <a href="#">Pages</a>
							<ul>
								<li><a href="left-content.html">Left + Content</a></li>
								<li><a href="content-right.html">Content + Right</a></li>
								<li><a href="full-width.html">Full Width Page</a></li>
								<li><a href="#">Submenu</a>
								<ul>
									<li><a href="#">Item #1</a></li>
									<li><a href="#">Item #2</a></li>
								</ul>
								</li>
							</ul>
						</li>
		 				<li><a href="contacts.html">Contacts</a></li>
		 				<li><a href="http://themeforest.net/item/photomin-responsive-html-template/2430382?ref=zerge"><i class="icon-purchase"></i>Purchase</a></li>
				 	</ul>  <!-- end #nav  -->
			 	</div>	<!-- end #menu  -->	
			</div><!-- .twelve columns -->
		</div><!-- .container -->
	</div><!-- #slider-wraper -->
	<!-- END MENU WRAPPER -->


	<!-- START SEPARATOR  -->
	<div id="separator">
		<div class="btop-1px"></div>
		<div class="container">
			<!-- start separator -->
			<div class="sixteen columns">
				<h4 class="page-title">Portfolio Item Page + Video</h4>
			</div><!-- sixteen columns -->
		</div><!-- .container -->
		<div class="bbottom-1px"></div>
	</div><!-- #separator -->
	<!-- END SEPARATOR -->	



	<!-- START PORTFOLIO ITEM WRAPPER -->
	<div class="container main-wrapper">
		<div id="main-content" class="twelve columns clearfix">


			<!-- ITEM VIDEO -->
			<div class="entry-item format-video">
				<div class="image-item">
					<!-- Video -->
					<iframe src="http://player.vimeo.com/video/40255993?title=0&amp;byline=0&amp;portrait=0&amp;color=ff7e00"></iframe>					
				</div><!-- image-item -->
				<div class="text-item clearfix">
						<div class="title-item">
						<h6>After Effects Project Files - In Particles | VideoHive</h6>	
						</div>
				   	<p>VideoHive is an <a href="http://videohive.net/community/marketplaces">Envato Marketplace</a>. At VideoHive you can buy and sell royalty-free footage and motion graphics as well as After Effects Project files starting at just a few dollars. Items are priced on the complexity, quality and use of the file. The site is home to a bustling community of motion graphics junkies!</p>
					<p>VideoHive is more than a place to find great motion graphics, it’s a community! You can hear from authors, ask questions in the forums, and comment on items. Contact fellow users and view their portfolios. Envato Notes is a valuable resource for industry news, tips and tricks, and site updates.</p>
				</div><!-- text-item -->				
			</div><!-- entry-item -->


		</div><!-- main-content -->


		<!-- START SIDEBAR -->
		<div id="sidebar" class="four columns">
			<div class="nav-items">
				<a href="#" class="prev"></a>
				<a href="#" class="next"></a>
				<span class="items-info">Item 3 of 9</span>
			</div><!-- nav-items -->
		   	<p><strong>Item Support and FAQs</strong><br><em>All items for sale on VideoHive are reviewed to ensure they are in good working order and are easy to use. Further item support such as alterations is at the discretion of each author. You’ll find that the VideoHive forum is also a good place to find help for using or modifying items.</em></p>
		   	<strong>In Particles Project:</strong>
		   	<ul class="disc">
				<li>CS4 , CS5 , CS5 .5 compatible</li>
				<li>No plug-ins required</li>
				<li>HD 1280 ×720 and FullHD 1920×1080</li>
				<li>2 Versions in the pack</li>
				<li>5 Color presets for each versions</li>
				<li>Please rate if you like it</li>
			</ul>
			<a href="http://videohive.net/item/in-particles/2092596?ref=zerge" class="button cta-button">Buy Now</a>
		</div><!-- sidebar -->
		<div class="sixteen columns divider-item-1px"></div>			
	</div><!-- .container -->


	<!-- RELATED PROJECTS -->
	<div class="container header-block">
		<!-- start header -->
		<div class="sixteen columns lp-header">
			<h6>Related Projects</h6>
			<div class="nav-projects">
				<a href="portfolio.html" class="button viewall">View all</a>
			</div><!-- .nav-projects -->
		</div><!-- .sixteen  -->
		<!-- end header -->
	</div><!-- .container -->

	<div id="latest-projects" class="container related-projects">
		<ul id="projects-carousel" class="jcarousel-skin-tango" >
			<!-- start carousel -->
			<li><div class="four columns">
				<div class="stack">
					<div class="title"><a href="item.html">Smiling Couple</a></div>
					<div class="cta-arrow">
						<a class="bg-arrow" href="item.html"><img src="images/icons/pixel-arrow-right.png" alt="" /></a>
						<span class="rd-arrow"></span>
					</div><!-- .cta-arrow -->
				</div><!-- stack -->
				<div class="block">
					<img src="images/projects/latest/img01.jpg" alt="" />
					<div class="mask"><a href="item.html"></a></div>
				</div><!-- block -->  
			</div><!-- .four  --></li>

			<li><div class="four columns">
				<div class="stack">
					<div class="title"><a href="item.html">Smiling Couple</a></div>
					<div class="cta-arrow">
						<a class="bg-arrow" href="item.html"><img src="images/icons/pixel-arrow-right.png" alt="" /></a>
						<span class="rd-arrow"></span>
					</div><!-- .cta-arrow -->
				</div><!-- stack -->
				<div class="block">
					<img src="images/projects/latest/img02.jpg" alt="" />
					<div class="mask"><a href="item.html"></a></div>
				</div><!-- block -->  
			</div><!-- .four  --></li>

			<li><div class="four columns">
				<div class="stack">
					<div class="title"><a href="item.html">Smiling Couple</a></div>
					<div class="cta-arrow">
						<a class="bg-arrow" href="item.html"><img src="images/icons/pixel-arrow-right.png" alt="" /></a>
						<span class="rd-arrow"></span>
					</div><!-- .cta-arrow -->
				</div><!-- stack -->
				<div class="block">
					<img src="images/projects/latest/img03.jpg" alt="" />
					<div class="mask"><a href="item.html"></a></div>
				</div><!-- block -->  
			</div><!-- .four  --></li>

			<li><div class="four columns">
				<div class="stack">
					<div class="title"><a href="item.html">Smiling Couple</a></div>
					<div class="cta-arrow">
						<a class="bg-arrow" href="item.html"><img src="images/icons/pixel-arrow-right.png" alt="" /></a>
						<span class="rd-arrow"></span>
					</div><!-- .cta-arrow -->
				</div><!-- stack -->
				<div class="block">
					<img src="images/projects/latest/img04.jpg" alt="" />
					<div class="mask"><a href="item.html"></a></div>
				</div><!-- block -->  
			</div><!-- .four  --></li>

			<li><div class="four columns">
				<div class="stack">
					<div class="title"><a href="item.html">In Particles</a></div>
					<div class="cta-arrow">
						<a class="bg-arrow" href="item.html"><img src="images/icons/pixel-arrow-right.png" alt="" /></a>
						<span class="rd-arrow"></span>
					</div><!-- .cta-arrow -->
				</div><!-- stack -->
				<div class="block">
					<iframe src="http://player.vimeo.com/video/40255993?title=0&amp;byline=0&amp;portrait=0&amp;color=ff7e00"></iframe>
				</div><!-- block -->  
			</div><!-- .four  --></li>

			<li><div class="four columns">
				<div class="stack">
					<div class="title"><a href="item.html">Smiling Couple</a></div>
					<div class="cta-arrow">
						<a class="bg-arrow" href="item.html"><img src="images/icons/pixel-arrow-right.png" alt="" /></a>
						<span class="rd-arrow"></span>
					</div><!-- .cta-arrow -->
				</div><!-- stack -->
				<div class="block">
					<img src="images/projects/latest/img02.jpg" alt="" />
					<div class="mask"><a href="item.html"></a></div>
				</div><!-- block -->  
			</div><!-- .four  --></li>			
		</ul><!-- #projects-carousel -->
	</div><!-- .container -->
	<!-- END LATEST PROJECTS -->
		
	<!-- END PORTFOLIO ITEM WRAPPER -->


	
	<!-- START FOOTER -->
	<div id="footer">
		<div class="btop-1px"></div>
		<div class="container">
			<div class="four columns copyright">
				<img src="images/logo-footer.png" alt="" />
				<p class="last">@ 2012 All Rights Reserved.<br>Designed by <a href="http://themeforest.net/user/ZERGE">ZERGE</a> for <a href="http://themeforest.net">Themeforest</a>.</p>
			</div><!-- .copyright -->
			<div class="twelve columns">
				<div id="secondary-nav" class="clearfix">
					<ul class="clearfix">
						<li><a href="#">Home</a></li>
						<li><a href="#">Portfolio</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
					<div class="gray-dash-3px"></div>
				</div><!-- #secondary-nav -->
				<ul id="footer-social">
	    			<li class="twitter"><a href="http://twitter.com"></a></li>
	    			<li class="dribbble"><a href="http://dribbble.com"></a></li>
	    			<li class="facebook"><a href="http://facebook.com"></a></li>
	    			<li class="google"><a href="http://plus.google.com"></a></li>
	    			<li class="linkedin"><a href="http://linkedin.com"></a></li>
	    			<li class="behance"><a href="http://behance.net"></a></li>
	    			<li class="rss"><a href="#"></a></li>
	    		</ul><!-- footer-social -->
			</div><!-- twelve columns -->
		</div><!-- container -->
	</div><!-- #footer -->
	<!-- END FOOTER -->

<div class="resize" title="Try resizing the window!"></div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>	
<script type="text/javascript" src="js/superfish.js"></script>
<script type="text/javascript" src="js/jcarousel.min.js"></script>
<script type="text/javascript" src="js/scrolltopcontrol.js"></script>
<script type="text/javascript" src="js/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="js/slides.min.jquery.js"></script>
<script type="text/javascript" src="js/contact.js"></script>


<script>
jQuery.noConflict()(function($){
    $(document).ready(function(){
			$('#slides-item').slides({
				generateNextPrev: true,
				generatePagination: false,
   				effect: 'fade',
   				crossfade: true,
				preload: true,
				preloadImage: 'images/loading.gif',
				pause: 2500,
				hoverPause: true
			});
		});
   });
</script>

<script type="text/javascript" src="js/custom.js"></script>
<!-- End Document
================================================== -->
</body>
</html>