<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link id="css-1762117143" class="www-core" rel="stylesheet" href="YouTube_files/www-core-vfliHndQG.css">
    <link id="css-3968566761" class="www-home-c4" rel="stylesheet" href="YouTube_files/www-home-c4-vflAsqJsW.css">

        <link rel="stylesheet" type="text/css" href="../../assets/528e2a2c/pager.css" />
        <title>Thailand Software Engineering Academy</title>
        <meta name="author" content="Agile66">
        <meta name="keywords" content="Software Engineering, Agile, Video Tutorial, Project Management">
        <meta name="description" content="Thailand Software Engineering Academy">
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- CSS -->
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <link rel="stylesheet" type="text/css" href="../../css/base.css" />
        <link rel="stylesheet" type="text/css" href="../../css/skeleton.css" />
        <link rel="stylesheet" type="text/css" href="../../css/style.css" />
        <link rel="stylesheet" type="text/css" href="../../css/camera.css" />
        <link rel="stylesheet" type="text/css" href="../../css/mediaelementplayer.min.css" />
        <link rel="stylesheet" type="text/css" href="../../css/colorbox.css" />
        <link rel="stylesheet" type="text/css" href="../../css/jquery-ui.css" />
        <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>        
        <link rel="stylesheet" type="text/css" href="../../css/form.css" />

        <!-- Favicons -->
        <link rel="shortcut icon" href="../../images/favicon.ico">
        <link rel="apple-touch-icon" href="../../images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../../images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../../images/apple-touch-icon-114x114.png">
</head>
<body dir="ltr" class="  ltr  gecko gecko-25  exp-appbar-pinning exp-top-guide    site-center-aligned      not-exp-appbar-open-guide
      appbar-shift-content-on-guide-open        guide-pinning-enabled guide-pinned  hitchhiker-enabled      guide-enabled    guide-expanded  page-loaded" id="body">

	   <div id="menu-wrapper">
            <div class="container">
                <div class="four columns">
                    <div>
                        <a href="../../"><img src="../../images/logo.png" alt="Thailand Software Engineering Academy" ></a>
                    </div><!-- .logo -->
                </div><!-- four columns -->
                <div class="twelve columns navigation">
                    <div id="menu" class="fix-fish-menu">
                        <ul class="sf-menu" id="nav">
                            <li><a href="http://uat.seacademy.in.th">Home</a></li>
                            <li><a href="../../page?view=about">About</a></li>
                            <li><a href="../../page?view=contributor">Contributor</a></li>
                            <li><a target="_blank" href="https://docs.google.com/forms/d/1glvVFQV0vVMCKB5UflOkmx_NFaUbCC5WANtqPXHtsLM/viewform">Feedback</a></li>
                        </ul>                    </div>
                </div><!-- .twelve columns -->
            </div><!-- .container -->
        </div><!-- #slider-wraper -->
		
		            <div id="separator">
                <div class="btop-1px"></div>
                <div class="container">
                    <!-- start separator -->
                    <div class="sixteen columns">
                        <h4 class="page-title">HOME</h4>
                    </div><!-- sixteen columns -->
                </div><!-- .container -->
                <div class="bbottom-1px"></div>
            </div><!-- #separator -->
  <div id="body-container">
  <div id="page-container">
  <div id="page" class="  home  clearfix"><div id="guide" class="yt-scrollbar">      
	<div id="content" class="">  

	<div class="branded-page-v2-container  branded-page-v2-secondary-column-hidden branded-page-v2-container-flex-width">

    <div class="branded-page-v2-col-container clearfix">
    <div class="branded-page-v2-primary-col">
	<div class="branded-page-v2-body" id="gh-activityfeed">
        
    <div class="context-data-container">
          
          <div class="lohp-newspaper-shelf vve-check" data-sessionlink="ved=CBEQ0R4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
    
    <div class="lohp-large-shelf-container">
        <div class="context-data-item" data-context-item-title="Xbox One All-in-One Demo with Yusuf Mehdi and Marc Whitten" data-context-item-time="12:33" data-context-item-id="xhe6jV-APwM" data-context-item-type="video" data-context-item-views="ดู 541,540 ครั้ง" data-context-item-user="xbox" data-sessionlink="ved=CBIQ0x4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
    
		<a href="http://www.youtube.com/watch?v=xhe6jV-APwM" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink yt-fluid-thumb-link contains-addto lohp-thumb-wrap" data-sessionlink="ved=CBIQ0x4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-logo&amp;hdline=-8475544229183668609">    
			<span class="video-thumb  yt-thumb yt-thumb-370 yt-thumb-fluid">
				<span class="yt-thumb-default">
					<span class="yt-thumb-clip">
						<span class="yt-thumb-clip-inner">
							<img alt="ภาพขนาดย่อ" src="http://img.youtube.com/vi/gVaRj5GgOPg/hqdefault.jpg" width="370">
							<span class="vertical-align"></span>
						</span>
					</span>
				</span>
			</span>
			<span class="video-time">12:33</span>
		</a>
      <a class="lohp-video-link max-line-2 yt-uix-sessionlink " data-sessionlink="ved=CBIQ0x4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-logo&amp;hdline=-8475544229183668609" href="http://www.youtube.com/watch?v=xhe6jV-APwM" title="Xbox One All-in-One Demo with Yusuf Mehdi and Marc Whitten">Agile Thailand 2013 : วิกฤติโปรแกรมเมอร์ไทย แก้ได้ด้วยอไจล์</a>
      <div class="lohp-video-metadata attached">
          <span class="content-uploader spf-nolink">
			<span class="username-prepend">โดย</span> 
			<a href="http://www.youtube.com/user/xbox" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=1OR9UpSwJMjKiwL7q4D4CQ" dir="ltr" data-ytid="UCjBp_7RuDBUYbd1LegWEJ8g" data-name="">Agile66</a>
		   </span>
      </div>
      <p title="Microsoft leads a 12-minute tour of Xbox One games, TV, and apps" class="lohp-blog-headline">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
      </p>
  </div>
  </div>
  
  
    <div class="lohp-medium-shelves-container">
            <div class="lohp-medium-shelf context-data-item vve-check " data-context-item-title="Tjoez.com Motion Timelapse 2013 Showreel" data-context-item-time="1:57" data-context-item-id="friyw5fcm-A" data-context-item-type="video" data-context-item-views="ดู 188,394 ครั้ง" data-context-item-user="Matthew Vandeputte" data-sessionlink="ved=CBQQ0x4oAQ&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
    
			<div class="lohp-media-object">
				<a href="http://www.youtube.com/watch?v=friyw5fcm-A" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink yt-fluid-thumb-link contains-addto lohp-thumb-wrap" data-sessionlink="ved=CBQQ0x4oAQ&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-logo&amp;hdline=-2975385882115144623">    
				<span class="video-thumb  yt-thumb yt-thumb-170 yt-thumb-fluid">
					<span class="yt-thumb-default">
						<span class="yt-thumb-clip">
							<span class="yt-thumb-clip-inner">
							<img alt="ภาพขนาดย่อ" src="http://img.youtube.com/vi/ZM7PYrJ0MCE/mqdefault.jpg" width="170">
							<span class="vertical-align"></span>
							</span>
						</span>
					</span>
				</span>
				<span class="video-time">1:57</span>
				</a>
			</div>
		<div class="lohp-media-object-content lohp-medium-shelf-content">
        <a class="lohp-video-link max-line-1 yt-uix-sessionlink " data-sessionlink="ved=CBQQ0x4oAQ&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-logo&amp;hdline=-2975385882115144623" href="http://www.youtube.com/watch?v=friyw5fcm-A" title="Tjoez.com Motion Timelapse 2013 Showreel">Agile Thailand 2013 : Agile vs Lean</a>
		<div class="lohp-video-metadata attached">
          <span class="content-uploader spf-nolink">
			<span class="username-prepend">โดย</span> <a href="http://www.youtube.com/user/MatthewVandeputte" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=1OR9UpSwJMjKiwL7q4D4CQ" dir="ltr" data-ytid="UCsHa1wpGDyo6LGc34ShjuYA" data-name="">Agile66</a>
			</span>
      </div>
        
			<p title="Beautifully Constructed Time-Lapse Takes You on 100K-Photo Trip Around the World" class="lohp-blog-headline">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
			</p>
		</div>
		</div>

    <div class="lohp-medium-shelf">
    
    <div class="lohp-media-object">
      <a href="http://www.youtube.com/watch?v=zXu5H9EBX_w" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap" data-sessionlink="ved=CBYQ0B4oAg&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-vrec">    <span class="video-thumb  yt-thumb yt-thumb-170">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img alt="ภาพขนาดย่อ" src="http://img.youtube.com/vi/qYxFmmV0eA0/mqdefault.jpg" width="170">
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
    <span class="video-time">12:04</span>
	</a>
    </div>
    <div class="lohp-media-object-content lohp-medium-shelf-content">
        <a class="lohp-video-link max-line-2 yt-uix-sessionlink " data-sessionlink="ved=CBYQ0B4oAg&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-vrec" href="http://www.youtube.com/watch?v=zXu5H9EBX_w" title="The Voice Thailand - สงกรานต์ VS ต้า - ยอม - 27 Oct 2013">Agile Thailand 2013 : Agile in Startup</a>

      <div class="lohp-video-metadata attached">
          <span class="content-uploader spf-nolink">
		<span class="username-prepend">โดย</span> <a href="http://www.youtube.com/user/TheVoiceThailand" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=1OR9UpSwJMjKiwL7q4D4CQ" dir="ltr" data-ytid="UCUR_q3i5yONr9BghspQzqyg" data-name="">Agile66</a>
	</span>

      </div>
        <div class="lohp-video-metadata">
			<p title="Beautifully Constructed Time-Lapse Takes You on 100K-Photo Trip Around the World" class="lohp-blog-headline">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
			</p>

        </div>
    </div>
  </div>

  <div class="lohp-medium-shelf context-data-item vve-check " data-context-item-title="สแกนเกย์ - ดีเจเชาเชา &amp; ดีเจโป้ง [ScanGay EP.10]" data-context-item-time="21:05" data-context-item-id="Y-A0SH5-o8Y" data-context-item-type="video" data-context-item-views="ดู 95,153 ครั้ง" data-context-item-user="tigercrychannel" data-sessionlink="ved=CBgQ0B4oAw&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
    
    <div class="lohp-media-object">
      <a href="http://www.youtube.com/watch?v=Y-A0SH5-o8Y" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap" data-sessionlink="ved=CBgQ0B4oAw&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-vrec">    <span class="video-thumb  yt-thumb yt-thumb-170">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img alt="ภาพขนาดย่อ" src="http://img.youtube.com/vi/aD6eYjK36fA/mqdefault.jpg" width="170">
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
    <span class="video-time">21:05</span>

</a>
    </div>
    <div class="lohp-media-object-content lohp-medium-shelf-content">
        <a class="lohp-video-link max-line-2 yt-uix-sessionlink " data-sessionlink="ved=CBgQ0B4oAw&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-vrec" href="http://www.youtube.com/watch?v=Y-A0SH5-o8Y" title="สแกนเกย์ - ดีเจเชาเชา &amp; ดีเจโป้ง [ScanGay EP.10]">Agile Thailand 2013 : Kamon's Rules</a>

      <div class="lohp-video-metadata attached">
          <span class="content-uploader spf-nolink">
<span class="username-prepend">โดย</span> <a href="http://www.youtube.com/user/tigercrychannel" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=1OR9UpSwJMjKiwL7q4D4CQ" dir="ltr" data-ytid="UCr7vfoOerACFbkVbFGKYL_Q" data-name="">Agile66</a>
  </span>

      </div>
        <div class="lohp-video-metadata">
			<p title="Beautifully Constructed Time-Lapse Takes You on 100K-Photo Trip Around the World" class="lohp-blog-headline">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
			</p>

        </div>
    </div>
  </div>

    </div>
  </div>



    
        <div class="lohp-vbox-list vve-check lohp-left-vbox-list" data-sessionlink="ved=CBoQ1R4oAQ&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
          <div class="vve-check" data-sessionlink="ved=CBsQyx4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
          <div class="lohp-shelf-cell-container lohp-category-shelf vve-check last-shelf-in-line" data-sessionlink="ved=CBwQzR4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
    

			<div class="lohp-category-shelf-item-list lohp-shelf-size-3">
              <h2 class="branded-page-module-title">

			<a class="yt-uix-sessionlink branded-page-module-title-link spf-nolink" href="http://www.youtube.com/channel/HC4qRk91tndwg" title="ยอดนิยม" data-sessionlink="ved=CB0Qzh4&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
				Popular
			</a>
			

		</h2>



        <div class="lohp-category-shelf-item context-data-item first-shelf-item " data-context-item-title="Fresh vs Frozen Food" data-context-item-time="2:09" data-context-item-id="zjsOOT347cA" data-context-item-type="video" data-context-item-views="ดู 1,390,562 ครั้ง" data-context-item-user="AsapSCIENCE">
          
          <a href="http://www.youtube.com/watch?v=zjsOOT347cA" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap" data-sessionlink="ved=CB4Qzx4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-logo">    <span class="video-thumb  yt-thumb yt-thumb-189">
			<span class="yt-thumb-default">
				<span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img data-group-key="thumb-group-0" data-thumb="//i1.ytimg.com/vi/zjsOOT347cA/mqdefault.jpg" alt="ภาพขนาดย่อ" src="http://img.youtube.com/vi/sG_0q8VEqFg/mqdefault.jpg" width="189">
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
    <span class="video-time">2:09</span>
		</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink " data-sessionlink="ved=CB4Qzx4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-logo" href="http://www.youtube.com/watch?v=zjsOOT347cA" title="Fresh vs Frozen Food">[ATH2012] เช่าทีม by juacompe</a>

          <div class="lohp-video-metadata">
			<p title="Beautifully Constructed Time-Lapse Takes You on 100K-Photo Trip Around the World" class="lohp-blog-headline">
				Lorem ipsum dolor sit
			</p>
          </div>
        </div>

        <div class="lohp-category-shelf-item context-data-item  " data-context-item-title="The Voice Thailand - เก่ง ณัฐิฏา - I'm Outta Love - 6 Oct 2013" data-context-item-time="6:58" data-context-item-id="x1txwxQ11TY" data-context-item-type="video" data-context-item-views="ดู 468,005 ครั้ง" data-context-item-user="TheVoiceThailand">
          
          <a href="http://www.youtube.com/watch?v=x1txwxQ11TY" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap" data-sessionlink="ved=CCAQzB4oAQ&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-vrec">    <span class="video-thumb  yt-thumb yt-thumb-189">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img data-group-key="thumb-group-0" data-thumb="//i1.ytimg.com/vi/x1txwxQ11TY/mqdefault.jpg" alt="ภาพขนาดย่อ" src="http://img.youtube.com/vi/B7ipgUIa0/mqdefault.jpg" width="189">
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
    <span class="video-time">6:58</span>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink " data-sessionlink="ved=CCAQzB4oAQ&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-vrec" href="http://www.youtube.com/watch?v=x1txwxQ11TY" title="The Voice Thailand - เก่ง ณัฐิฏา - I'm Outta Love - 6 Oct 2013">[ATH2012] Continuous delivery by Michael</a>

          <div class="lohp-video-metadata">
			<p title="Beautifully Constructed Time-Lapse Takes You on 100K-Photo Trip Around the World" class="lohp-blog-headline">
				Lorem ipsum dolor sit
			</p>

          </div>
        </div>

        <div class="lohp-category-shelf-item context-data-item  last-shelf-item " data-context-item-title="โกโกริโกะ...เกมส์กึ๋ยส์ - Robert กินหมด 116 เมนู ร้าน Gusto" data-context-item-time="45:46" data-context-item-id="YrfoJQ9op_E" data-context-item-type="video" data-context-item-views="ดู 134,150 ครั้ง" data-context-item-user="ChiLL ChiLL">
          
          <a href="http://www.youtube.com/watch?v=YrfoJQ9op_E" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap" data-sessionlink="ved=CCIQzB4oAg&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-vrec">    <span class="video-thumb  yt-thumb yt-thumb-189">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="http://img.youtube.com/vi/2aayD5q8CaY/mqdefault.jpg" width="189">
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
    <span class="video-time">45:46</span>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink " data-sessionlink="ved=CCIQzB4oAg&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-vrec" href="http://www.youtube.com/watch?v=YrfoJQ9op_E" title="โกโกริโกะ...เกมส์กึ๋ยส์ - Robert กินหมด 116 เมนู ร้าน Gusto">[ATH2012] Agile in Waterfall by Kamon</a>

          <div class="lohp-video-metadata">
			<p title="Beautifully Constructed Time-Lapse Takes You on 100K-Photo Trip Around the World" class="lohp-blog-headline">
				Lorem ipsum dolor sit
			</p>

          </div>
        </div>
    </div>
  </div>

  </div>

          <div class="vve-check" data-sessionlink="ved=CCQQyx4oAQ&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
          <div class="lohp-shelf-cell-container lohp-category-shelf vve-check " data-sessionlink="ved=CCUQzR4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
    

    <div class="lohp-category-shelf-item-list lohp-shelf-size-1">
              <h2 class="branded-page-module-title">

      <a class="yt-uix-sessionlink branded-page-module-title-link spf-nolink" href="http://www.youtube.com/channel/HCxAJ-ON2kZuw" title="บันเทิง" data-sessionlink="ved=CCYQzh4&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
			#Workshop
      </a>
  </h2>



        <div class="lohp-category-shelf-item context-data-item first-shelf-item last-shelf-item " data-context-item-title="Things You Say To Dogs That'd Be Creepy If You Said To People" data-context-item-time="1:12" data-context-item-id="X42SZ2Oyq00" data-context-item-type="video" data-context-item-views="ดู 1,068,712 ครั้ง" data-context-item-user="BuzzFeedVideo">
          
          <a href="http://www.youtube.com/watch?v=X42SZ2Oyq00" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap" data-sessionlink="ved=CCcQzx4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-logo">    <span class="video-thumb  yt-thumb yt-thumb-165">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img alt="ภาพขนาดย่อ" src="http://img.youtube.com/vi/K0xJ8vqafno/mqdefault.jpg" width="165">
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
    <span class="video-time">1:12</span>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink " title="Things You Say To Dogs That'd Be Creepy If You Said To People">[ATH2012] Sketch Me by Varokas</a>

          <div class="lohp-video-metadata">
			<p title="Beautifully Constructed Time-Lapse Takes You on 100K-Photo Trip Around the World" class="lohp-blog-headline">
				Lorem ipsum dolor sit
			</p>
          </div>
        </div>
    </div>
  </div>

          <div class="lohp-shelf-cell-container lohp-category-shelf vve-check last-shelf-in-line" data-sessionlink="ved=CCkQzR4oAQ&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
    

    <div class="lohp-category-shelf-item-list lohp-shelf-size-2">
              <h2 class="branded-page-module-title">

      <a class="yt-uix-sessionlink branded-page-module-title-link spf-nolink" href="http://www.youtube.com/channel/HCp-Rdqh3z4Uc" title="ดนตรี" data-sessionlink="ved=CCoQzh4&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
			#Exp-Sharing
      </a>
        <a href="http://www.youtube.com/watch_videos?video_ids=BcUg0XKT3sI%2CyXBPbnv1H-U&amp;more_url=&amp;title=%E0%B8%94%E0%B8%99%E0%B8%95%E0%B8%A3%E0%B8%B5&amp;feature=c4-overview&amp;type=0" class="yt-uix-button  shelves-play yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-small" data-sessionlink="ei=1OR9UpSwJMjKiwL7q4D4CQ"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-play-all" src="YouTube_files/pixel-vfl3z5WfW.gif" alt="" title=""></span><span class="yt-uix-button-content">เล่น </span></a>

  </h2>



        <div class="lohp-category-shelf-item context-data-item first-shelf-item " data-context-item-title="แตกต่างเหมือนกัน - GETSUNOVA (Official MV)" data-context-item-time="4:07" data-context-item-id="BcUg0XKT3sI" data-context-item-type="video" data-context-item-views="ดู 11,774,688 ครั้ง" data-context-item-user="duckbarteam">
          
          <a href="http://www.youtube.com/watch?v=BcUg0XKT3sI" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap" data-sessionlink="ved=CCsQzB4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-vrec">    <span class="video-thumb  yt-thumb yt-thumb-182">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img alt="ภาพขนาดย่อ" src="http://img.youtube.com/vi/4S0zM8Ia_88/mqdefault.jpg" width="182">
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
    <span class="video-time">4:07</span>
	</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink " data-sessionlink="ved=CCsQzB4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-vrec" href="http://www.youtube.com/watch?v=BcUg0XKT3sI" title="แตกต่างเหมือนกัน - GETSUNOVA (Official MV)">[ATH2012] Personal Agility by Gun</a>

          <div class="lohp-video-metadata">
			<p title="Beautifully Constructed Time-Lapse Takes You on 100K-Photo Trip Around the World" class="lohp-blog-headline">
				Lorem ipsum dolor sit
			</p>
          </div>
        </div>

        <div class="lohp-category-shelf-item context-data-item  last-shelf-item " data-context-item-title="The First-Ever YouTube Music Awards (YTMA)" data-context-item-time="1:18:38" data-context-item-id="yXBPbnv1H-U" data-context-item-type="video" data-context-item-views="ดู 1,838,715 ครั้ง" data-context-item-user="YouTube Spotlight">
          
          <a href="http://www.youtube.com/watch?v=yXBPbnv1H-U" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap" data-sessionlink="ved=CC0Qzx4oAQ&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-logo">    <span class="video-thumb  yt-thumb yt-thumb-182">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img alt="ภาพขนาดย่อ" src="http://img.youtube.com/vi/lK9lc26QNS0/mqdefault.jpg" width="182">
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
    <span class="video-time">1:18:38</span>

</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink " data-sessionlink="ved=CC0Qzx4oAQ&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-logo" href="http://www.youtube.com/watch?v=yXBPbnv1H-U" title="The First-Ever YouTube Music Awards (YTMA)">[ATH2012] Agile coaching</a>

          <div class="lohp-video-metadata">
			<p title="Beautifully Constructed Time-Lapse Takes You on 100K-Photo Trip Around the World" class="lohp-blog-headline">
				Lorem ipsum dolor sit
			</p>
          </div>
        </div>
    </div>
  </div>

  </div>

          <div class="vve-check" data-sessionlink="ved=CC8Qyx4oAg&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
          <div class="lohp-shelf-cell-container lohp-category-shelf vve-check last-shelf-in-line" data-sessionlink="ved=CDAQzR4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
    

    <div class="lohp-category-shelf-item-list lohp-shelf-size-3">
              <h2 class="branded-page-module-title">

      <a class="yt-uix-sessionlink branded-page-module-title-link spf-nolink" href="http://www.youtube.com/user/WorkpointOfficial" title="WorkpointOfficial" data-sessionlink="ved=CDEQzh4&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
        #Technical
      </a>

  </h2>



        <div class="lohp-category-shelf-item context-data-item first-shelf-item " data-context-item-title="The Band (เดอะ แบนด์ไทยแลนด์) - Full Episode - 26 ต.ค. 56" data-context-item-time="39:24" data-context-item-id="sfwRsY8azZQ" data-context-item-type="video" data-context-item-views="ดู 62,643 ครั้ง" data-context-item-user="WorkpointOfficial">
          
          <a href="http://www.youtube.com/watch?v=sfwRsY8azZQ" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap" data-sessionlink="ved=CDIQzB4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-vrec">    <span class="video-thumb  yt-thumb yt-thumb-189">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img alt="ภาพขนาดย่อ" src="http://img.youtube.com/vi/VjMiCEwu0hk/mqdefault.jpg" width="189">
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
    <span class="video-time">39:24</span>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink " data-sessionlink="ved=CDIQzB4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-vrec" href="http://www.youtube.com/watch?v=sfwRsY8azZQ" title="The Band (เดอะ แบนด์ไทยแลนด์) - Full Episode - 26 ต.ค. 56">[ATH2012] Is it true that Agile life is hard to live</a>

          <div class="lohp-video-metadata">
			<p title="Beautifully Constructed Time-Lapse Takes You on 100K-Photo Trip Around the World" class="lohp-blog-headline">
				Lorem ipsum dolor sit
			</p>
          </div>
        </div>

        <div class="lohp-category-shelf-item context-data-item  " data-context-item-title="The Band (เดอะ แบนด์ไทยแลนด์) - Full Episode - 19 ต.ค. 56" data-context-item-time="38:31" data-context-item-id="wcKImx9X-jI" data-context-item-type="video" data-context-item-views="ดู 91,196 ครั้ง" data-context-item-user="WorkpointOfficial">
          
          <a href="http://www.youtube.com/watch?v=wcKImx9X-jI" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap" data-sessionlink="ved=CDQQzB4oAQ&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-vrec">    <span class="video-thumb  yt-thumb yt-thumb-189">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img alt="ภาพขนาดย่อ" src="http://img.youtube.com/vi/H3f3S8omSI/mqdefault.jpg" width="189">
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
    <span class="video-time">38:31</span>
	</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink " data-sessionlink="ved=CDQQzB4oAQ&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-vrec" href="http://www.youtube.com/watch?v=wcKImx9X-jI" title="The Band (เดอะ แบนด์ไทยแลนด์) - Full Episode - 19 ต.ค. 56">[ATH2012] TDD เข้าเส้น ตอน ปฐมบทการโค้ดแบบอไจล์</a>

          <div class="lohp-video-metadata">
			<p title="Beautifully Constructed Time-Lapse Takes You on 100K-Photo Trip Around the World" class="lohp-blog-headline">
				Lorem ipsum dolor sit
			</p>
          </div>
        </div>

        <div class="lohp-category-shelf-item context-data-item  last-shelf-item " data-context-item-title="ชิงร้อยชิงล้าน Sunshine Day 20 ต.ค. 56" data-context-item-time="1:16:14" data-context-item-id="pjI9XnOxX90" data-context-item-type="video" data-context-item-views="ดู 66,940 ครั้ง" data-context-item-user="WorkpointOfficial">
          
          <a href="http://www.youtube.com/watch?v=pjI9XnOxX90" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap" data-sessionlink="ved=CDYQzB4oAg&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-vrec">    <span class="video-thumb  yt-thumb yt-thumb-189">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img alt="ภาพขนาดย่อ" src="http://img.youtube.com/vi/XXT8PMOuN04/mqdefault.jpg" width="189">
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
    <span class="video-time">00:36:14</span>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink " data-sessionlink="ved=CDYQzB4oAg&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-vrec" href="http://www.youtube.com/watch?v=pjI9XnOxX90" title="ชิงร้อยชิงล้าน Sunshine Day 20 ต.ค. 56">[ATH2012] Kanban ตกลงมันไรกัน!</a>

          <div class="lohp-video-metadata">
			<p title="Beautifully Constructed Time-Lapse Takes You on 100K-Photo Trip Around the World" class="lohp-blog-headline">
				Lorem ipsum dolor sit
			</p>
          </div>
        </div>
    </div>
  </div>

  </div>

  </div>



    
        <div class="lohp-vbox-list vve-check lohp-right-vbox-list" data-sessionlink="ved=CGgQ1R4oAg&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
          <div class="lohp-vertical-shelf vve-check" data-sessionlink="ved=CGkQzR4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
    
            <h2 class="branded-page-module-title">

      <a class="yt-uix-sessionlink branded-page-module-title-link spf-nolink" href="http://www.youtube.com/channel/HCPvDBPPFfuaM" title="ข่าวสาร" data-sessionlink="ved=CGoQzh4&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
			#Technical
      </a>
  </h2>


      <div class="lohp-vertical-shelf-item context-data-item" data-context-item-title="Water levels reached the second story" data-context-item-time="2:18" data-context-item-id="s0oszdhxBm8" data-context-item-type="video" data-context-item-views="ดู 301 ครั้ง" data-context-item-user="CNN">
        <div class="lohp-media-object ">
          <a href="http://www.youtube.com/watch?v=s0oszdhxBm8" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap" data-sessionlink="ved=CGsQzx4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-logo">    <span class="video-thumb  yt-thumb yt-thumb-64">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="http://img.youtube.com/vi/B7ipgUIa0/sqdefault.jpg" width="64">
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
    <span class="video-time">2:18</span>
</a>
        </div>
        <div class="lohp-vertical-shelf-item-content lohp-media-object-content">
            <a class="lohp-video-link max-line-3 yt-uix-sessionlink " data-sessionlink="ved=CGsQzx4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-logo" href="http://www.youtube.com/watch?v=s0oszdhxBm8" title="Water levels reached the second story">[ATH2012] Continuous delivery by Michael</a>

          <div class="lohp-video-metadata attached">
              <span class="content-uploader spf-nolink">
<span class="username-prepend">โดย</span> <a href="http://www.youtube.com/user/CNN" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=1OR9UpSwJMjKiwL7q4D4CQ" dir="ltr" data-ytid="UCupvZG-5ko_eiXAupbDfxWw" data-name="">Agile66</a>
  </span>

          </div>
        </div>
      </div>
      <div class="lohp-vertical-shelf-item context-data-item" data-context-item-title="Kerry heads to Geneva for Iran nucelar talks" data-context-item-time="1:05" data-context-item-id="yuHvhC7BWYU" data-context-item-type="video" data-context-item-views="ดู 2,867 ครั้ง" data-context-item-user="AFP">
        <div class="lohp-media-object ">
          <a href="http://www.youtube.com/watch?v=yuHvhC7BWYU" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap" data-sessionlink="ved=CG0Qzx4oAQ&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-logo">    <span class="video-thumb  yt-thumb yt-thumb-64">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img alt="ภาพขนาดย่อ" src="http://img.youtube.com/vi/H3f3S8omSI/sqdefault.jpg" width="64">
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
    <span class="video-time">1:05</span>
</a>
        </div>
        <div class="lohp-vertical-shelf-item-content lohp-media-object-content">
            <a class="lohp-video-link max-line-3 yt-uix-sessionlink " data-sessionlink="ved=CG0Qzx4oAQ&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-logo" href="http://www.youtube.com/watch?v=yuHvhC7BWYU" title="Kerry heads to Geneva for Iran nucelar talks">[ATH2012] TDD เข้าเส้น ตอน ปฐมบทการโค้ดแบบอไจล์</a>

          <div class="lohp-video-metadata attached">
              <span class="content-uploader spf-nolink">
<span class="username-prepend">โดย</span> <a href="http://www.youtube.com/user/AFP" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=1OR9UpSwJMjKiwL7q4D4CQ" dir="ltr" data-ytid="UC86dbj-lbDks_hZ5gRKL49Q" data-name="">Agile66</a>
  </span>

          </div>
        </div>
      </div>
 </div>

          <div class="lohp-vertical-shelf vve-check" data-sessionlink="ved=CHEQzR4oAQ&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
    
            <h2 class="branded-page-module-title">

      <a class="yt-uix-sessionlink branded-page-module-title-link spf-nolink" href="http://www.youtube.com/channel/HCp-Rdqh3z4Uc" title="ดนตรี" data-sessionlink="ved=CHIQzh4&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ">
			#Lean
      </a>
        <a href="http://www.youtube.com/watch_videos?video_ids=My2FRPA3Gf8%2CW-TE_Ys4iwM%2CCevxZvSJLk8%2Crr1DSgjhRqE&amp;more_url=&amp;title=%E0%B8%94%E0%B8%99%E0%B8%95%E0%B8%A3%E0%B8%B5&amp;feature=c4-overview&amp;type=0" class="yt-uix-button  shelves-play yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-small" data-sessionlink="ei=1OR9UpSwJMjKiwL7q4D4CQ"><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-play-all" src="YouTube_files/pixel-vfl3z5WfW.gif" alt="" title=""></span><span class="yt-uix-button-content">เล่น </span></a>

  </h2>


      <div class="lohp-vertical-shelf-item context-data-item" data-context-item-title="Miley Cyrus - Wrecking Ball" data-context-item-time="3:42" data-context-item-id="My2FRPA3Gf8" data-context-item-type="video" data-context-item-views="ดู 302,258,397 ครั้ง" data-context-item-user="MileyCyrusVEVO">
        <div class="lohp-media-object ">
          <a href="http://www.youtube.com/watch?v=My2FRPA3Gf8" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap" data-sessionlink="ved=CHMQzx4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-logo">    <span class="video-thumb  yt-thumb yt-thumb-64">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img alt="ภาพขนาดย่อ" src="http://img.youtube.com/vi/ZM7PYrJ0MCE/default.jpg" width="64">
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
    <span class="video-time">3:42</span>
</a>
        </div>
        <div class="lohp-vertical-shelf-item-content lohp-media-object-content">
            <a class="lohp-video-link max-line-3 yt-uix-sessionlink " data-sessionlink="ved=CHMQzx4oAA&amp;ei=1OR9UpSwJMjKiwL7q4D4CQ&amp;feature=g-logo" href="http://www.youtube.com/watch?v=My2FRPA3Gf8" title="Miley Cyrus - Wrecking Ball">Agile Thailand 2013 : Agile vs Lean</a>

          <div class="lohp-video-metadata attached">
              <span class="content-uploader spf-nolink">
<span class="username-prepend">โดย</span> <a href="http://www.youtube.com/user/MileyCyrusVEVO" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=1OR9UpSwJMjKiwL7q4D4CQ" dir="ltr" data-ytid="UCdI8evszfZvyAl2UVCypkTA" data-name="">Ailge66</a>  <span class="yt-user-name-icon-verified">
    <img src="YouTube_files/pixel-vfl3z5WfW.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="ชื่อที่ยืนยัน">
  </span>

  </span>

          </div>
        </div>
      </div>
      </div>

          
        

        </div>
      </div>
  </div>

  </div>

  



    </div>

  </div>

      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>  

</body></html>